################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/python/CopilotIndices/18.7.1225.11805
/.vs/python.slnx/FileContentIndex
